# Core ML and Data Handling (compatible with AzureML/ResponsibleAI)
numpy<=1.23.5,>=1.17.2
pandas==1.5.3
scikit-learn<=1.5.1,>=1.0.0
scipy<=1.11.0,>=1.0.0

# PyTorch (use a version compatible with these packages and AzureML)
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2

# MedMNIST Dataset
medmnist==3.0.2

# Image and Plotting
Pillow==9.5.0
matplotlib==3.7.1
seaborn==0.12.2

# Utilities
tqdm==4.67.1 